*.log
node_modules/
.DS_Store
/JoplinBackup
/cache
/database.sqlite
/ipc_secret_key.txt
/lock
/log-clipper.txt
/log-cross-app-ipc.txt
/log.txt
/plugin-data
/plugins
/resources
/settings.json
/tmp
/userstyle.css
/window-state-prod.json
